* {
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
    margin: 0;
    padding: 0;
}

body {
    /* background-color: #222; */
    display: flex;
    justify-content: center;
    padding: 10% 0;

    background-image: url('images/backround.jpg');
    background-size: cover;
    background-position: center; 

    /* height: 100vh; */
    
}

.card {
    width: 60%;
    /* height: 80vh; */
    
    background: linear-gradient(#0072fe, #022b5d);
    color: #fff;
    border-radius: 20px;
    padding: 40px 30px;

    /* comeback */
    opacity: 0.8; 
}

.search {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.search input {
    border: 0;
    outline: 0;
    background: #ebfffc;
    color: #555;
    padding: 10px 25px;
    height: 60px;
    border-radius: 50px; 
    flex: 1;
    margin-right: 16px;
    font-size: 18px;
    width: 100%;
}

button {
    border: 0;
    outline: 0;
    background: #ebfffc;
    border-radius: 50%;
    width: 60px;
    height: 60px;
    cursor: pointer;
}

button img {
    width: 35px;
}

.weather {
    display: flex;
    justify-content: space-evenly;
}

.main{
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    width: 50%;
}

.details {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    width: 50%;
}

.weather-icon {
    width: 170px;
    /* margin-top: 30px; */
}

.weather h1 {
    font-size: 80px;
    font-weight: 500;
}

.weather h2 {
    font-size: 45px;
    font-weight: 400;
    margin-top: -10px;
}

.column {
    display: flex;
    align-items: center;
    /* width: 60%; */
}

.column img {
    width: 55px;
    margin-right: 10px;
}

.humidity, .wind {
    /* 28px */
    font-size: 2.5em;
}
p {
    font-size: 1.2rem;
}

.error {
    text-align: center;
    margin-left: 10px;
    font-size: 2em;
    margin-top: 10px;
    display: none;
}

.turn-off-me {
    display: none;
}
